<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online course registration form</title>
    <link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}">
</head>
<body>
<div class="container mt-5">

    <h1 class="text-center alert alert-danger" align="center">
        <font color="blue">
       Online course registration form
   </font>
    </h1>


</div>
<script src="{% static 'enroll/js/jjquery.js' %}"></script>
<script src="{% static 'enroll/js/popper.js' %}"></script>
<script src="{% static 'enroll/js/bootstrap.js' %}"></script>

</body>
</html>
{% block content %}

{% endblock %}